@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fa5354;
  font-family: 'Roboto', sans-serif;
}

.conteudo {
  left: 50%;
  margin: 0 0 0 -250px;
  position: absolute;
  width: 500px;
  background-color: #fa5354;
  border-radius: 20px;
}

h2 {
  margin-top: 15%;
  font-size: 32px;
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.conteudo, .calendario header {
  position: relative;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

thead {
  font-weight: 600;
  text-transform: uppercase;
}

td {
  background-color: white;
  border: 1px solid #cbd1d2;
  height: 72px;
  text-align: center;
  width: 100px;
}

#dias {
  cursor: pointer;
}

.calendario tbody td:hover {
  background-color: aqua;
}


.modal {
  display: block ;
    z-index: 1;
    padding: 25px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
    width: 350px;
    height: 125px;
    top: 200px;
    left: 11%;
    position: absolute;
    font-family: sans-serif;
  }

.quadrado {
  width: 40%;
  height: 100vh;
  background-color: #cbd1d2;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal2 {
  display: block ;
  z-index: 1;
  padding: 25px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 3px black;
  border-radius: 3px;
  width: 350px;
  height: 125px;
  top: 200px;
  left: 11%;
  position: absolute;
  font-family: Roboto, 'sans-serif';
}

.modal2 input {
  width: 100%;
  height: 60%;

}

.modal2 button {
  font-family: Roboto, 'sans-serif';
  margin-top: 1.5%;
  width: 15%;
  cursor: pointer;
}

.texto2 {
  margin-bottom: 10px;
}

.botaocriar2 {
  margin-right: 10px;
}

.botaofechar {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

